.login-page {
    background: url('https://storage.googleapis.com/project-se01.appspot.com/media/ree-login-backgroud.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

